.container
  h1 Bootstrap AngularJS Tabs
  div(ng-init="names = [{name:'one'}, {name:'two'}, {name:'three'}, {name:'four'}, {name:'five'}]")
  ul(class="nav nav-tabs")
    li(ng-repeat="name in names", ng-class="{active: $index == 0}")
      a(href="#tab{{$index + 1}}", target="_self", onclick="return false;", data-toggle="tab") Tab {{$index + 1}}
      //-a(data-target="#tab{{$index + 1}}", data-toggle="tab") Tab {{$index + 1}}
  .tab-content
    div(class="tab-pane fade in", id="tab{{$index + 1}}", ng-repeat="name in names", ng-class="{active: $index == 0}")
      <p>{{$index + 1}}</p>
