//-
  table
   tr
     th
       H0
       H1
   tr
     td
       v0,0
       v0,1
     td
       v1,0
       v1,1

  Methods to provide JSON for table:
   - Embedded in objects in []
       - Use 'track by' w/ index in property to properly order
   - [[]]
       - First element w/ header data?
       - 
   - Separate header w/ metadata separate from values: {meta:[{}], vals:[{}]}
       - 
   - Global, single header for request rather than for each object
       - e.g.) {meta:{strategies:{}, accounts:{}}, vals:{strategies:{accounts:[{}, {}]}}}

mixin table(pre, post, content)
  .table-responsive
    table(class="table table-striped table-hover table-condensed")
      tr
        th
        th(ng-repeat="prop in provider.accounts[0]") {{prop}}
        th Actions
      //-tr(ng-repeat="account in provider.accounts track by account.index", ng-if="$index != 0")
      tr(ng-repeat="account in provider.accounts track by $index", ng-if="$index != 0")
        td Chkbox
        td(ng-repeat="prop in account") {{prop}}
        td Action
